configparser
pandas
numpy
scikit-learn
geopandas
shapely
pyproj
tqdm
requests
rasterio
fiona
matplotlib
seaborn
contextily
descartes
joblib
tqdm
pillow>=6.2.0
geopandas==0.6.3
contextily==1.1.0
matplotlib==3.3.4
descartes==1.1.0
geoio==1.3.0
