configparser
pandas
numpy
scikit-learn
geopandas
shapely
pyproj
tqdm
requests
rasterstats
rasterio
fiona
matplotlib
seaborn
contextily
pytorch
torchvision
descartes
joblib
tqdm
pillow>=6.2.0 #pillow=6.1 <- github said 6.1 had a security vulnerability

